<div class="flex space-x-3 text-sm font-bold uppercase mb-4">
<div class="flex-auto flex space-x-3">
    
    <button class="w-1/2 flex items-center justify-center rounded-md bg-black text-white" (click)="login()">Login</button>
    <button class="w-1/2 flex items-center justify-center rounded-md bg-black text-white" (click)="refreshToken()">Refresh</button>
    <button class="w-1/2 flex items-center justify-center rounded-md bg-black text-white" (click)="logout()">Logout</button>
</div>
</div>
<a routerLink="/search">Search</a>